#logo {
    width: 70px;
    left: 15px;
}

.navbar {
    background-color: rgb(234, 72, 19);
}
.wrapper {
    min-height: 900px;
}
footer {
    background-color: rgb(23, 123, 25);
}

#hh {
    background-color: black;
}
.right-block {
    width: 45%;
}
.d-flex span {
    font-weight: bold;
}

.description span {
    font-weight: bold;
    font-size: 2.4rem;
}

.description p {
    font-size: 1.2rem;
}

#all {
    font-weight: bold;
}
footer {
    height: 60px;
}
.footer-block {
    padding: 0 3.3rem 0 3.3rem ;
}
.footer-block .col-2 img {
    height: 35px;
}

.footer-block .col-2 a:hover {
    color: white;
}
.footer-block .col-10 {
    font-size: 12px;
}
