{% extends 'for_base/top.html' %}
{% load static %}
{% block title %}Приют для животных{% endblock %}
{% block finder_by_kind %}
    <a href="/admin/"><button class="btn btn-dark">Добавить животное</button></a>
    <p><b>Фильтры</b></p>
    {% for k in kind %}
        <a href="{% url 'animal_shelter:finder_by_kind' k.name %}"><div class="badge badge-primary">{{ k }}</div></a>
    {% endfor %}
{% endblock %}
{% block contant %}

    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for pet in Pets %}
                <div class="col-md-3">
                        <div class="card mb-4 shadow-sm" >
                            <a href="{% url 'animal_shelter:pet-detail' pet.id %}">
                            <img src="{{ media }}{{ pet.face }}" alt="{{ pet.name }}" class="w-100">
                            </a>
                            <div class="card-body">
                                <p class="card-text">{{ pet.name }} - {{ pet.age }}</p>
                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}